<%= error_messages_for 'mailwrapper_issue_rule' %>
<% members = @project.member_principals.find(:all, :conditions => ['type = "User"']).sort %>
<%= f.hidden_field :project_id, :value => @project.id %>
<% issue_statuses = IssueStatus.find(:all) %>
  <div class="box">
    <p>
      <label for="mailwrapper_issue_rule_tracker_ids"><%= l(:label_tracker) %></label>
      <%= select_tag('mailwrapper_issue_rule[tracker_ids][]',
          options_from_collection_for_select(@project.trackers, :id, :name, @mailwrapper_issue_rule.trackers.map{|t| t.id}),
          { :id => :mailwrapper_issue_rule_tracker_ids, :multiple => true }) %>
    </p>
    <% unless @project.issue_categories.empty? %>
      <p>
	<label for="mailwrapper_issue_rule_issue_category_ids"><%= l(:label_issue_category) %></label>
        <%= f.collection_select(:issue_category_ids, @project.issue_categories, :id, :name,
            { :required => true }, { :multiple => true, :name => 'mailwrapper_issue_rule[issue_category_ids][]' }) %>
      </p>
    <% end %>
    <p>
      <label for="mailwrapper_issue_rule_issue_status_ids"><%= l(:label_issue_status) %></label>
      <%= f.collection_select(:issue_status_ids, issue_statuses, :id, :name,
          { :required => true }, { :multiple => true, :name => 'mailwrapper_issue_rule[issue_status_ids][]' }) %>
    </p>
    <p>
      <label for="mailwrapper_issue_rule_user_ids"><%= l(:label_user) %></label>
      <%= f.collection_select(:user_ids, members.map, :user_id, :principal,
          { :required => true }, { :multiple => true, :name => 'mailwrapper_issue_rule[user_ids][]' }) %>
    </p>
    <p>
      <%= f.select :mailwrapper_recipient_id, @project.mailwrapper_recipients.collect {|c| [c.name, c.id]}, :include_blank => false %>
    </p>
  </div>
