<div id="mailwrapper_issue_settings">
<fieldset>
<legend><%= l(:project_module_issue_tracking) %></legend>
<% if @project.mailwrapper_issue_rules.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list">
  <p><%= l(:text_maiwlrapper_issue_rules) %></p>
  <thead>
    <tr>
      <th><%= l(:field_tracker) %></th>
      <th><%= l(:field_category) %></th>
      <th><%= l(:field_status) %></th>
      <th><%= l(:field_author) %></th>
      <th><%= l(:field_recipient) %></th>
	  <th><%= l(:button_sort) %></th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project.mailwrapper_issue_rules.each do |r| -%>
    <tr class="issue <%= cycle('odd', 'even') %>">
          <td><%= r.trackers.empty? ? l(:label_all) : r.trackers.map {|t| t.name}.join(',') %></td>
	  <td><%= r.issue_categories.empty? ? l(:label_all) : r.issue_categories.map {|c| c.name}.join(',') %></td>
	  <td><%= r.issue_statuses.empty? ? l(:label_all) : r.issue_statuses.map {|s| s.name}.join(',') %></td>
	  <td><%= r.users.empty? ? l(:label_all) : r.users.map {|a| a.login}.join(',') %></td>
	  <td><%= r.mailwrapper_recipient.name %></td>
      <td style="width:15%;">
        <%= link_to_if_authorized image_tag('2uparrow.png', :alt => l(:label_sort_highest)),
              { :controller => :mailwrapper_issue_rules, :action => 'mov', :issue_rule_id => r.id, :project_id => @project, :position => 'highest' },
              :method => :post,
              :title => l(:label_sort_highest) %>
        <%= link_to_if_authorized image_tag('1uparrow.png', :alt => l(:label_sort_higher)),
              { :controller => :mailwrapper_issue_rules, :action => 'mov', :issue_rule_id => r.id, :project_id => @project, :position => 'higher' },
              :method => :post,
              :title => l(:label_sort_higher) %> -
        <%= link_to_if_authorized image_tag('1downarrow.png', :alt => l(:label_sort_lower)),
              { :controller => :mailwrapper_issue_rules, :action => 'mov', :issue_rule_id => r.id, :project_id => @project, :position => 'lower' },
              :method => :post,
              :title => l(:label_sort_lower) %>
        <%= link_to_if_authorized image_tag('2downarrow.png', :alt => l(:label_sort_lowest)),
              { :controller => :mailwrapper_issue_rules, :action => 'mov', :issue_rule_id => r.id, :project_id => @project, :position => 'lowest' },
              :method => :post,
              :title => l(:label_sort_lowest) %>
      </td>
	  <td align="center" style="width:5%;">
	    <%= link_to_if_authorized l(:button_update),
              { :controller => :mailwrapper_issue_rules, :action => 'mod', :issue_rule_id => r.id, :project_id => @project },
              :class => 'icon icon-edit' %>
        <%= link_to_if_authorized l(:button_delete),
              { :controller => :mailwrapper_issue_rules, :action => 'del', :project_id => @project, :issue_rule_id => r.id },
              :method => :post,
              :confirm => l(:text_are_you_sure),
              :class => "icon icon-del" %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to_if_authorized l(:label_mailwrapper_issue_rule_new), {:controller => 'mailwrapper_issue_rules', :action => 'add', :project_id => @project} %></p>
</fieldset>
</div>

