<%= error_messages_for 'mailwrapper_recipient' %>
<% members = @project.member_principals.find(:all, :conditions => ['type = "User"']).sort %>
<p><%= f.text_field :name, :required => true %></p>
<p>
  <%= f.label :user_ids %>
  <%= f.collection_select(:user_ids, members.map, :user_id, :principal, { :required => true }, {:multiple => true, :name =>'mailwrapper_recipient[user_ids][]' }) %>
</p>
<%= f.hidden_field :project_id, :value => @project.id %>

