<div id="mailwrapper_recipient_settings">
<fieldset>
<legend><%= l(:field_recipient) %></legend>
<% if @project.mailwrapper_recipients.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th><%= l(:field_name) %></th>
      <th><%= l(:field_recipient) %></th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project.mailwrapper_recipients.each do |r| -%>
    <tr class="issue <%= cycle 'odd', 'even' %>">
      <td><%= h(r.name) %></td>
      <td>
      <%= r.users.map{|u| u.mail}.join(',') %>

      </td>
      <td align="center" style="width:5%;">
        <%= link_to_if_authorized l(:button_update),
                    { :controller => :mailwrapper_recipients, :action => 'mod', :id => r.id, :project_id => @project },
                    :class => "icon icon-edit" %>
        <%= link_to_if_authorized l(:button_delete),
                    { :controller => :mailwrapper_recipients, :action => 'del', :id => r.id, :project_id => @project },
                    :method => :post,
                    :confirm => l(:text_are_you_sure),
                    :class => "icon icon-del" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<p><%= link_to_if_authorized l(:label_mailwrapper_recipient_new), {:controller => 'mailwrapper_recipients', :action => 'add', :project_id => @project } %></p>
</fieldset>
</div>

