<h2><%= l(:label_mailwrapper_recipient_edit) %></h2>

<%= labelled_form_for :mailwrapper_recipient, @mailwrapper_recipient, :url => {:action => 'mod', :id => @mailwrapper_recipient.id, :project_id => @project } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_update) %>
  <%= link_to l(:button_cancel), :controller => 'projects', :action => 'settings', :id => @project.id, :tab => 'mailwrapper' %>
<% end %>

