<div id="mailwrapper_news_settings">
  <fieldset>
    <legend><%= l(:project_module_news) %></legend>
    <% if @news_rules.empty? %>
      <p class="nodata"><%= l(:label_no_data) %></p>
      <p><%= link_to_if_authorized l(:label_mailwrapper_recipient_new),
               {:controller => 'mailwrapper_settings', :action => 'add_news_rule', :project_id => @project} %></p>
    <% else %>
      <table class="list">
        <thead>
          <tr><th><%= l(:field_recipient) %></th><th></th></tr>
        </thead>
        <tbody>
		  <% @news_rules.each do |r| -%>
          <tr class="issue <%= cycle('odd', 'even') %>">
            <td><%= MailwrapperRecipient.find(r.recipient_id).name %></td>
            <td align="center" style="width:5%;">
              <%= link_to_if_authorized l(:button_update),
                    {:controller => 'mailwrapper_settings', :action => 'mod_news_rule', :news_rule_id => r.id, :project_id => @project },
                    :class => "icon icon-edit" %>
              <%= link_to_if_authorized l(:button_delete),
                    { :controller => :mailwrapper_settings, :action => 'del_news_rule', :news_rule_id => r.id, :project_id => @project },
                    :method => :post,
                    :confirm => l(:text_are_you_sure),
                    :class => "icon icon-del" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </fieldset>
</div>
