<div id="mailwrapper_issue_settings">
<fieldset>
<legend><%= l(:project_module_issue_tracking) %></legend>
<% if @issue_rules.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th><%= l(:field_tracker) %></th>
      <th><%= l(:field_category) %></th>
      <th><%= l(:field_status) %></th>
      <th><%= l(:field_author) %></th>
      <th><%= l(:field_recipient) %></th>
	  <th><%= l(:button_sort) %></th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @issue_rules.each do |r| -%>
    <tr class="issue <%= cycle('odd', 'even') %>">
          <td><%= r.tracker_id ? Tracker.find(r.tracker_id).name : l(:label_all) %></td>
	  <td><%= r.category_id ? IssueCategory.find(r.category_id).name : l(:label_all) %></td>
	  <td><%= r.status_id ? IssueStatus.find(r.status_id).name : l(:label_all) %></td>
	  <td><%= h(r.author) %></td>
	  <td><%= MailwrapperRecipient.find(r.recipient_id).name %></td>
      <td style="width:15%;">
        <%= link_to_if_authorized image_tag('2uparrow.png', :alt => l(:label_sort_highest)),
                    { :controller => :mailwrapper_settings, :action => 'mov_issue_rule', :issue_rule_id => r.id, :project_id => @project, :position => 'highest' },
   			        :method => :post,
                    :title => l(:label_sort_highest) %>
        <%= link_to_if_authorized image_tag('1uparrow.png', :alt => l(:label_sort_higher)),
   		            { :controller => :mailwrapper_settings, :action => 'mov_issue_rule', :issue_rule_id => r.id, :project_id => @project, :position => 'higher' },
                    :method => :post,
					:title => l(:label_sort_higher) %> -
        <%= link_to_if_authorized image_tag('1downarrow.png', :alt => l(:label_sort_lower)),
		            { :controller => :mailwrapper_settings, :action => 'mov_issue_rule', :issue_rule_id => r.id, :project_id => @project, :position => 'lower' },
					:method => :post,
					:title => l(:label_sort_lower) %>
        <%= link_to_if_authorized image_tag('2downarrow.png', :alt => l(:label_sort_lowest)),
		            { :controller => :mailwrapper_settings, :action => 'mov_issue_rule', :issue_rule_id => r.id, :project_id => @project, :position => 'lowest' },
					:method => :post,
					:title => l(:label_sort_lowest) %>
      </td>
	  <td align="center" style="width:5%;">
	    <%= link_to_if_authorized l(:button_update),
              { :controller => :mailwrapper_settings, :action => 'mod_issue_rule', :issue_rule_id => r.id, :project_id => @project },
              :class => 'icon icon-edit' %>
        <%= link_to_if_authorized l(:button_delete),
              { :controller => :mailwrapper_settings, :action => 'del_issue_rule', :project_id => @project, :issue_rule_id => r.id },
              :method => :post,
              :confirm => l(:text_are_you_sure),
              :class => "icon icon-del" %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to_if_authorized l(:label_mailwrapper_issue_rule_new), {:controller => 'mailwrapper_settings', :action => 'add_issue_rule', :project_id => @project} %></p>
</fieldset>
</div>

